<!-- Services -->
		<section id="services">
			<div class="container">

				<div class="row">
					<div class="col-sm-4">
						<%= image_tag "AdobeStock_53477661.jpeg", {class:" img-fluid mx-auto", width:360, height: 180}%>
						<h3 class="mt-10">Awards and projects</h3>
						<p>Rocket Elevators has won numerous awards and participated in many major projects.
						</p>

						<a href="#portfolio" class="btn btn-default ">READ MORE</a>
					</div>

					<div class="col-sm-4">
						
						<%= image_tag "AdobeStock_73868131.jpeg", {class:"img-fluid mx-auto", width: 360, height: 180}%>
						
						<h3 class="mt-10">Residential Elevators</h3>
						<p>We offer best residential elevators with competitive price.</p>
						<a href="RocketElevators-landing-1-residential.html" class="btn btn-default">READ MORE</a>
					</div>

					<div class="col-sm-4">
					<%= image_tag "AdobeStock_3294993.jpeg", {class:" img-fluid mx-auto", width:360, height: 180}%>
						
						<h3 class="mt-10">Commercial Elevators</h3>
						<p>We offer best commercial elevators with competitive price.</p>
						<a href="RocketElevators-landing-2-commercial.html" class="btn btn-default"
							style="align-content: center;">READ MORE</a>
					</div>

				</div>

			</div>
		</section>