<div class="slider fullwidthbanner-container roundedcorners">
				<!--
				# 	Navigation Styles:
					
				# 		data-navigationStyle="" theme default navigation
						
				# 		data-navigationStyle="preview1"
				# 		data-navigationStyle="preview2"
				# 		data-navigationStyle="preview3"
				# 		data-navigationStyle="preview4"
						
				# 	Bottom Shadows
				# 		data-shadow="1"
				# 		data-shadow="2"
				# 		data-shadow="3"
						
				# 	Slider Height (do not use on fullscreen mode)
				# 		data-height="300"
				# 		data-height="350"
				# 		data-height="400"
				# 		data-height="450"
				# 		data-height="500"
				# 		data-height="550"
				# 		data-height="600"
				# 		data-height="650"
				# 		data-height="700"
				# 		data-height="750"
				# 		data-height="800"
				-->
				<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
					<ul class="hide">
					
						<!-- SLIDE  -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Slogan">
							<!-- MAIN IMAGE -->
							<%= image_tag("AdobeStock_162479912.jpeg" , alt: "cover image" , data: {bgposition: "center top" , bgfit: "cover" , bgrepeat: "no-repeat" }) %>
							<div class="tp-caption white_big skewfromleft tp-resizeme"
								data-x="700"
								data-y="150" 
								data-speed="400"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="words"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color:rgb(3, 78, 217); font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									At Rocket Elevators
							</div>

							<div class="tp-caption content_text_ skewfromleft tp-resizeme"
								data-x="850"
								data-y="230" 
								data-speed="500"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"

								style="z-index: 3; font-size:30px; color:rgb(3, 78, 217); font-weight:300; text-shadow:none;">
									We believe in lifting you
							</div>
							<div class="tp-caption content_text_ skewfromleft tp-resizeme"
							data-x="840"
							data-y="268" 
							data-speed="500"
							data-start="2000"
							data-easing="Power3.easeInOut"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							data-endspeed="600"

								style="z-index: 3; font-size:30px; color:rgb(3, 78, 217); font-weight:300; text-shadow:none;">
									 as high as you can dream.
						</div>


							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
								data-x="750"
								data-y="380" 
								data-speed="300"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"

								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-default btn-lg" href="#services">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
							data-x="1080"
							data-y="380" 
							data-speed="300"
							data-start="2500"
							data-easing="Power3.easeInOut"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							data-endspeed="300"

							style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
								<a class="btn btn-default btn-lg" href="quotes">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
						</div>
						</li>

						<!-- SLIDE  -->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Residential Buildings">
							<!-- MAIN IMAGE -->
							<%= image_tag("AdobeStock_124493370.jpeg" , alt: "cover image" , data: {bgposition: "center top" , bgfit: "cover" , bgrepeat: "no-repeat" }) %>								
							<!-- dark overlay [0 to 9 opacity] -->
							<div class="overlay dark-4">            </div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="280"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:rgb(3, 78, 217); font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Residential Buildings <br />
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="450"
								data-y="230" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:40px; color:rgb(3, 78, 217); font-weight:bold; text-shadow:none;">
									Getting you home <br />
									
							</div>


							<div class="tp-caption sfb tp-resizeme"
								data-x="515"
								data-y="375" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-default btn-lg" href="residential" target="_self">Residential Services &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
						</li>
						 <!-- SLIDE  -->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Commercial Buildings">
							<!-- MAIN IMAGE -->
							<%= image_tag("AdobeStock_179073967.jpeg" , alt: "cover image" , data: {bgposition: "center top" , bgfit: "cover" , bgrepeat: "no-repeat" }) %>
							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>
							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="280"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:rgb(3, 78, 217); font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Commercial Buildings <br />
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="410"
								data-y="230" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:40px; color:rgb(3, 78, 217); font-weight:bold; text-shadow:none;">
									Getting you to work <br />
									
							</div>


							<div class="tp-caption sfb tp-resizeme"
								data-x="515"
								data-y="375" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-default btn-lg" href="commercial" target="_self">Commercial Services &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
						</li>
					</ul>

				</div>
			</div>