<!-- CONTACT -->
		<section id="contact">
			<div class="container">

				<header class="text-center mb-60">
					<h2>Contact Us</h2>
					<hr />
				</header>


				<div class="row">

					<!-- FORM -->
					<div class="col-md-8 col-sm-8">

						<h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>


						<!--
								MESSAGES
								
									How it works?
									The form data is posted to php/contact.php where the fields are verified!
									php.contact.php will redirect back here and will add a hash to the end of the URL:
										#alert_success 		= email sent
										#alert_failed		= email not sent - internal server error (404 error or SMTP problem)
										#alert_mandatory	= email not sent - required fields empty
										Hashes are handled by assets/js/contact.js

									Form data: required to be an array. Example:
										contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
										Also, add `required` to input fields if is a mandatory field. 
										Example: <input required type="email" value="" class="form-control" name="contact[email][required]">

									PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
												 ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP

									WARNING! Do not change the `email` and `name`!
												contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
												contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
							-->

						<!-- Alert Success -->
						<div id="alert_success" class="alert alert-success mb-30">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Thank You!</strong> Your message successfully sent!
						</div><!-- /Alert Success -->


						<!-- Alert Failed -->
						<div id="alert_failed" class="alert alert-danger mb-30">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>[SMTP] Error!</strong> Internal server error!
						</div><!-- /Alert Failed -->


						<!-- Alert Mandatory -->
						<div id="alert_mandatory" class="alert alert-danger mb-30">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
						</div><!-- /Alert Mandatory -->


						<form action="php/contact.php" method="post" enctype="multipart/form-data">
							<fieldset>
								<input type="hidden" name="action" value="contact_send" />

								<div class="row">
									<div class="col-md-4">
										<label for="fullname">Full Name *</label>
										<input required type="text" value="" class="form-control"
											name="contact[name][required]" id="fullname">
									</div>
									<div class="col-md-4">
										<label for="bussinessname">Business Name *</label>
										<input required type="text" value="" class="form-control"
											name="contact[bussinessname][required]" id="bussinessname">
									</div>
									<div class="col-md-4">
										<label for="department">Department</label>
										<select class="form-control pointer" name="contact[department]">
											<option value="">--- Select ---</option>
											<option value="Residential">Residential</option>
											<option value="Commercial">Commercial</option>
											
										</select>
									</div>
									<div class="col-md-4">
										<label for="email">E-mail Address *</label>
										<input required type="email" value="" class="form-control"
											name="contact[email][required]" id="email">
									</div>
									<div class="col-md-4">
										<label for="phone">Phone</label>
										<input type="text" value="" class="form-control" name="contact[phone]"
											id="phone">
									</div>
								</div>
								<div class="row">

									<div class="col-md-8">
										<label for="projectname">Project Name *</label>
										<input required type="text" value="" class="form-control"
											name="contact[projectname][required]" id="projectname">
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="projectdescription">Project Description </label>
										<textarea required maxlength="10000" rows="2" class="form-control"
											name="contact[projectdescription]" id="projectdescription"></textarea>
									</div>

								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="message">Message *</label>
										<textarea required maxlength="10000" rows="3" class="form-control"
											name="contact[message]" id="message"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="attachment">File Attachment</label>

										<!-- custom file upload -->
										<input class="custom-file-upload" type="file" id="file"
											name="contact[attachment]" id="attachment"
											data-btn-text="Select a File" />
										<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

									</div>
								</div>

							</fieldset>

							<div class="row">
								<div class="col-md-12">
									<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND
										MESSAGE</button>
								</div>
							</div>
						</form>

					</div>
					<!-- /FORM -->


					<!-- INFO -->
					<div class="col-md-4 col-sm-4">

						<h2>Visit Us</h2>

						<!-- 
							Available heights
								h-100
								h-150
								h-200
								h-250
								h-300
								h-350
								h-400
								h-450
								h-500
								h-550
								h-600
							-->
						<div class="h-500">
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3530.1961800734675!2d-82.64112168493651!3d27.772928782764694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2e1cc066bc3fb%3A0x630de377c32db551!2sCodeBoxx!5e0!3m2!1sen!2sus!4v1663699870267!5m2!1sen!2sus"
								width="400" height="500" style="border:0;" allowfullscreen="" loading="lazy"
								referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
						<hr />
						<br>
						<p>
							<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 136 4th St N
								suite 201, St.Petersburg, FL 33701</span>
							<br>
							<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a
									href="tel:1800-555-1234">1800-555-1234</a></span><br>
							<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a
									href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
						</p>

					</div>
					<!-- /INFO -->

				</div>

			</div>
		</section>
		<!-- /CONTACT -->